<div class="user_nav">
  <ul>
      <li class="user_nav_des">
	  <div class="user_nav_des_icon"><img src="http://192.168.0.183/swift/mobile/img/millionairematch/21.jpg"></div>
	  <div class="user_nav_des_text">
	       <div class="user_nav_name"><span> Jennifer</span> <span>12</span> </div>
	       <div class="user_nav_age"><span> 21 </span> <span>● </span> <span>beijing</span> <span>,</span> <span>China</span></div>
	  </div>
      </li>
      <li class="user_nav_separator"></li>
      <li class="user_nav_menu"><div> <%=user_nav_upgrade%> </div></li>
      <li class="user_nav_separator"></li>
      <li class="user_nav_menu"><div> <%=user_nav_search%> </div></li>
      <li class="user_nav_separator"></li>
      <li class="user_nav_menu"><div> <%=user_nav_message%> </div></li>
      <li class="user_nav_separator"></li>
      <li class="user_nav_menu"><div> <%=user_nav_visitors%> </div></li>
      <li class="user_nav_separator"></li>
      <li class="user_nav_menu"><div> <%=user_nav_favorites%> </div></li>
      <li class="user_nav_separator"></li>
      <li class="user_nav_menu"><div> <%=user_nav_downloadapp%></div></li>
      <li class="user_nav_separator"></li>
      <li class="user_nav_menu"><div> <%=user_nav_setting%> </div></li>
      <li class="user_nav_separator"></li>
  </ul>               
</div>
